<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/index.css">
    <title>PChan</title>
</head>
<body>
    <header class="logo">
        <figure>
            <img src="../assets/images/logo.png" alt="">
        </figure>
    </header>
    <section class="introduction">
        <h1>Welcome to PChan!</h1>
        <div class="introduction-content">
            <p>PChan is a simple chan site made by one single person (me), just for pratice and learn PHP, PDO, POO and DataBase skills, fell free to create, join or comment in the diferent topics on the PChan</p>
            <p>This chan is focused in Tech themes, like programing, scripting, hacking, exploiting and projects/business, but there is a lot another interesting contents!</p>
        </div>
    </section>
    <section class="topics">
        <h2>Boards</h2>
        <ul class="topics-list">
            <li class="topic">
                <a href="">Mobile Development</a>
            </li>
            <li class="topic">
                <a href="">Web Development</a>
            </li>
            <li class="topic">
                <a href="">Desktop Development</a>
            </li>
            <li class="topic">
                <a href="">Operational System Development</a>
            </li>
            <li class="topic">
                <a href="">Scripts Development</a>
            </li>
            <li class="topic">
                <a href="">Windows Development</a>
            </li>
            <li class="topic">
                <a href="">Linux Development</a>
            </li>
            <li class="topic">
                <a href="">Hacking</a>
            </li>
            <li class="topic">
                <a href="">Pentest</a>
            </li>
            <li class="topic">
                <a href="">Defensive Security</a>
            </li>
            <li class="topic">
                <a href="">CTFs</a>
            </li>
            <li class="topic">
                <a href="">Malwares</a>
            </li>
            <li class="topic">
                <a href="">Exploits</a>
            </li>
        </ul>
    </section>
</body>
</html>