<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/sign.css">
    <title>Sign</title>
</head>
<body>
    <main>
        <section>
            <h1>Sign</h1>
            <form action="../../controller/SignController.php" method="post">
                <input type="text" name="username" placeholder="Username">
                <input type="email" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Password">
                <input type="password" name="repeat_password" placeholder="Repeat Rassword">
                <input type="submit" name="sign" value="sign" class="sign">
                <a href="login.html">I have an account</a>
            </form>
        </section>
    </main>
</body>
</html>